<div class="container">
  <a href="/">View all Categories</a>
  <h3>Create a Category: </h3>

  <form action='/create_category' method='post'>
    <input type='text' placeholder='Title' name='title'>
    <input type='submit' value='Create Category'>
  </form>
</div>
