<div class="container">
  <a href="/create_category">Create Category</a>
  <h3>All Categories: </h3>
  <ul>
    <% @categories.each do |category| %>
      <li><a href='/categories/<%= category.id %>'><%= category.title %></a></li>
    <% end %>
  </ul>
</div>
